<!--这里是继承-->

<!--继承的模版名-->
<extend name="Layout:member_base" />

<!--这里是继承的第一个-->
<block name="css">
    <style type="text/css">
        .error{
            padding-left: 1em;
            color:red;
        }
    </style>
</block>

    <!--这里是继承的第二个-->
    <block name="content">
        <!-- 登录主体部分start -->
        <div class="login w990 bc mt10 regist">
            <div class="login_hd">
                <h2>用户注册</h2>
                <b></b>
            </div>
            <div class="login_bd">
                <div class="login_form fl">
                    <form action="{:U()}" method="post" id='reg-form'>
                        <ul>
                            <li>
                                <label for="">用户名：</label>
                                <input type="text" class="txt" name="username" /><span class="error"></span>
                                <p>3-20位字符，可由中文、字母、数字和下划线组成</p>
                            </li>
                            <li>
                                <label for="">密码：</label>
                                <input type="password" class="txt" name="password" id='password' /><span class="error"></span>
                                <p>6-16位字符，可使用字母、数字和符号的组合，不建议使用纯数字、纯字母、纯符号</p>
                            </li>
                            <li>
                                <label for="">确认密码：</label>
                                <input type="password" class="txt" name="repassword" /><span class="error"></span>
                                <p> <span>请再次输入密码</p>
                            </li>
                            <li>
                                <label for="">邮箱：</label>
                                <input type="text" class="txt" name="email" /><span class="error"></span>
                                <p>邮箱必须合法</p>
                            </li>
                            <li>
                                <label for="">手机号码：</label>
                                <input type="text" class="txt" value="" name="tel" id="tel" placeholder=""/><span class="error"></span>
                            </li>
                            <li>
                                <label for="">验证码：</label>
                                <input type="text" class="txt" value="" placeholder="请输入短信验证码" name="captcha" disabled="disabled" id="captcha"/> <input type="button" onclick="bindPhoneNum(this)" id="get_captcha" value="获取验证码" style="height: 25px;padding:3px 8px"/><span class="error"></span>

                            </li>
                            <li class="checkcode">
                                <label for="">验证码：</label>
                                <input type="text"  name="checkcode" />
                                <img src="{:U('Captcha/captcha',['nocache'=>NOW_TIME])}" alt="" id='img_captcha'/>
                                <span>看不清？<a href="javascript:;" onclick="change_img_captcha()">换一张</a></span><span class="error"></span>
                            </li>

                            <li>
                                <label for="">&nbsp;</label>
                                <input type="checkbox" class="chb" checked="checked" /> 我已阅读并同意《用户注册协议》<span class="error"></span>
                            </li>
                            <li>
                                <label for="">&nbsp;</label>
                                <input type="submit" value="" class="login_btn" />
                            </li>
                        </ul>
                    </form>


                </div>

                <div class="mobile fl">
                    <h3>手机快速注册</h3>			
                    <p>中国大陆手机用户，编辑短信 “<strong>XX</strong>”发送到：</p>
                    <p><strong>1069099988</strong></p>
                </div>

            </div>
        </div>
        <!-- 登录主体部分end -->
    </block>


    <!--这里是继承的第三个-->
    <block name="js">
        <!--引入jquery.validate,注册页面实时验证输入正确与否-->
        <script type="text/javascript" src="__JQUERY_VALIDATE__/dist/jquery.validate.js"></script>
        <script type="text/javascript">
            /////////////////1.获取手机验证短信/////////////////////////
            function bindPhoneNum() {
                var time = 60;//倒计时时间
                //1.发送验证码的接口!!!!
                var url = '{:U("Api/regSms")}';    //设置方法
                var data = {tel:$('#tel').val()};  //得到输入电话号码

                //2.手机号码为空不发请求.
                  if(!$('#tel').val()){
                    alert('请输入手机号码');
                    return false;
                }
                //3.启用输入框
                $('#captcha').prop('disabled', false);
                //得到php页面返回的数据
                $.getJSON(url,data,function(response){
                    console.debug(response);
                });
                //4.倒计时设置
                var interval = setInterval(function () {
                    time--;
                    if (time <= 0) {
                        clearInterval(interval);
                        var html = '获取验证码';
                        $('#get_captcha').prop('disabled', false);
                    } else {
                        var html = time + ' 秒后再次获取';
                        $('#get_captcha').prop('disabled', true);
                    
                    }
                    $('#get_captcha').val(html);
                }, 1000);
            }

            //////////////2.改变验证码图片 //////////////////////////
            function change_img_captcha() {
                $('#img_captcha').attr('src', '{:U("Captcha/captcha")}?nocache=' + new Date().getTime());
            }

            //////////////3.前台实时验证  ///////////////////////////
            //1.rules表示规则  2.messages表示提示,
            //3.errorPlacement表示错误发生时执行的逻辑  4success成功时执行的逻辑(为空就可以了)
            var setting= {
                rules: {
                    username: {                      //inout控件里面的name
                        required: true,              //必须要有
                        rangelength: [3, 20],        //长度为3到20个字符
                        remote:'{:U("checkByParam")}' //请求远程验证:和数据库中的数据实时验证
                    },
                    password: {
                        required: true,
                        rangelength: [6, 16]
                    },
                    repassword: {
                        required: true,
                        rangelength: [6, 16],
                        equalTo: "#password"      //和ID名为password的值相同
                    },
                    email: {
                        required: true,
                        email: true,
                        remote:'{:U("checkByParam")}'
                    },
                    tel: {
                        required: true,
                        telephone: true,
                        remote:'{:U("checkByParam")}',
                    },
                    checkcode: {
                        required: true,
                    },
                    captcha: {
                        required: true,
                    },
                    agree: "required"
                },
                messages: {
                    username: {
                        required: '用户名不能为空',
                        rangelength: '用户名必须3-20个字符',
                        remote: "用户名已被占用",
                    },
                    password: {
                        required: "密码不能为空",
                        rangelength: "密码长度必须为6-16位"
                    },
                    repassword: {
                        required: "确认密码不能为空",
                        rangelength: "确认密码长度必须为6-16位",
                        equalTo: "两次密码不一致"
                    },
                    email: {
                        required:"邮箱地址不合法",
                        email:"邮箱地址不合法",
                        remote:'邮箱地址已被占用'
                    },
                    tel: {
                        required: '手机号码不能为空',
                        remote:'手机地址已被占用'
                    },
                    checkcode: {
                        required: '图片验证码不能为空',
                    },
                    captcha: {
                        required: '短信验证码不能为空',
                    },
                    agree: "必须同意许可协议"
                },
                //error[0]:出错信息,node[0]:出错节点
                errorPlacement: function (error, node) {
                    //找到出错控件后的error节点,并把错误信息放进去
                    var node = node[0];     //找到出错的位置
                    var msg_node = $(node).siblings('.error').get(0);  //找到这个出错的位置
                    $(msg_node).text($(error[0]).text());           //后面加上错误信息
                },
                //修改成功时自动去掉后面的红字
                success: function () {},
            }

            //2.对z这个表单使用jqery-validate验证方法
                $('#reg-form').validate(setting);

            //3.由于手机号码规则并不存在,所以我们自定义一个验证规则,
            // 第一个是规则名,第二个是验证函数,第三个是错误提示信息.
            $.validator.addMethod('telephone',checkp,'手机号码不合法');

            //写checkp
            function checkp(tel,node){
                var reg = /^1[34578]\d{9}$/;
                return reg.test(tel);
            }

        </script>
    </block>
