<extend name="Layout:cart_base"/>
<block name="css">
	<link rel="stylesheet" href="__CSS__/fillin.css" type="text/css">
</block>
<block name="js">
	<script type="text/javascript" src="__JS__/cart2.js"></script>
	<script type="text/javascript">
		//1.总价计算
		$(function(){
			//定义总价(没运费算上)
			var total_price= {$total_price};
			//调用计算总价方法(加运费)
			calc_price();
			$('.delivery_info input').change(calc_price);

			//计算运费和应付金额的方法
			function calc_price(){
				//获取运费(parseFloat:字符串转换为浮点数)
				var delivery_price=parseFloat($('.delivery_info input:checked').attr('price'));
				//定义总计价格
				var zongji=parseFloat(total_price+delivery_price);
				$('.yunfei').text('￥' + delivery_price.toFixed(2));
				$('.zongji').text('￥' + zongji.toFixed(2) + '元');
			}
		});

		//提交按钮的方法
		function do_submit(){
			$('form').get(0).submit();
		}
	</script>
</block>
<block name="content">


	<!-- 主体部分 start -->
	<div class="fillin w990 bc mt15">
		<div class="fillin_hd">
			<h2>填写并核对订单信息</h2>
		</div>

        <form action="{:U('OrderInfo/add')}" method="post">
		<div class="fillin_bd">
			<!-- 收货人信息  start-->
			<div class="address">
				<h3>收货人信息</h3>
				<div class="address_info">
					<foreach name="addresses" item="address">
				     <p>
						<input type="radio" name="address.id" value="{$address.id}" <eq name="address.is_default" value="1">checked="checked"</eq>/>
						 {$address.name} {$address.tel}
						 {$address.province_name} {$address.city_name}
						 {$address.area_name} {$address.detail_address}
				    </p>
					</foreach>
				</div>
			</div>
			<!-- 收货人信息  end-->

			<!-- 配送方式 start -->
			<div class="delivery">
				<h3>送货方式</h3>
				<div class="delivery_info">
					<foreach name="deliveries" item="delivery">
						<p>
							<input type="radio" value="{$delivery.id}" price="{$delivery.price}" name="delivery_id" <eq name="delivery.is_default" value="1">checked="checked"</eq>/>
							{$delivery.name} {$delivery.price}
							{$delivery.intro}
						</p>
					</foreach>
				</div>
			</div> 
			<!-- 配送方式 end --> 

			<!-- 支付方式  start-->
			<div class="pay">
				<h3>支付方式</h3>
				<div class="pay_info">
					<foreach name="payments" item="payment">
						<p>
							<input type="radio" value="{$payment.id}" name="pay_type_id" <eq name="payment.is_default" value="1">checked="checked"</eq>/>
							{$payment.name} {$payment.intro}
						</p>
					</foreach>
				</div>
			</div>
			<!-- 支付方式  end-->

			<!-- 发票信息 start-->
			<div class="receipt">
				<h3>发票信息</h3>
				<div class="receipt_info">
					<ul>
						<li>
							<label for="">发票抬头：</label>
							<input type="radio" name="receipt_type"
								   checked="checked" class="personal" value="1"/>个人
							<input type="radio" name="receipt_type"
								   class="company" value="2"/>单位
							<input type="text" class="txt company_input"
								   disabled="disabled" name="company_name"/>
						</li>
						<li>
							<label for="">发票内容：</label>
							<input type="radio" name="receipt_content_type"
								   checked="checked" value="1"/>明细
							<input type="radio" name="receipt_content_type" value="2"/>办公用品
							<input type="radio" name="receipt_content_type" value="3"/>体育休闲
							<input type="radio" name="receipt_content_type" value="4"/>耗材
						</li>
					</ul>
				</div>
			</div>
			<!-- 发票信息 end-->

			<!-- 商品清单 start -->
			<div class="goods">
				<h3>商品清单</h3>
				<table>
					<thead>
						<tr>
							<th class="col1">商品</th>
							<th class="col3">价格</th>
							<th class="col4">数量</th>
							<th class="col5">小计</th>
						</tr>	
					</thead>

					<tbody>
					    <foreach name="goods_info_list" item="goods">
						<tr>
							<td class="col1"><a href=""><img src="{$goods.logo}" alt="" /></a><strong><a href="{:U('Index/goods',['id'=>$goods['id']])}">{$goods.name}</a></strong></td>
							<td class="col3">￥{$goods.shop_price}</td>
							<td class="col4"> {$goods.amount}</td>
							<td class="col5"><span>￥{$goods.sub_price}</span></td>
						</tr>
						</foreach>
					</tbody>

					<tfoot>
						<tr>
							<td colspan="5">
								<ul>
									<li>
										<span>总商品金额：</span><em>￥{$total_price}</em>
									</li>
									<li>
										<span>运费：</span><em class="yunfei">￥10.00</em>
									</li>
								</ul>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- 商品清单 end -->
		
		</div>

			<div class="fillin_ft">
				<a href="javascript:;" onclick="do_submit()"><span>提交订单</span></a>
				<p>应付总额：<strong class="zongji">￥{$total_price}元</strong></p>
			</div>
       </form>
	</div>
	<!-- 主体部分 end -->
</block>