<extend name="Layout:cart_base"/>
<block name="css">
	<link rel="stylesheet" href="__CSS__/cart.css" type="text/css">
</block>

<block name="js">
	<script type="text/javascript" src="__JS__/cart1.js"></script>
</block>

	<block name="content">
	<div class="mycart w990 mt10 bc">
		<h2><span>我的购物车</span></h2>
		<table>
			<thead>
				<tr>
					<th class="col1">商品名称</th>
					<th class="col3">单价</th>
					<th class="col4">数量</th>	
					<th class="col5">小计</th>
					<th class="col6">操作</th>
				</tr>
			</thead>
			<tbody>
			   <foreach name="goods_info_list" item="goods">
				<tr>
					<td class="col1"><a href="{:U('Index/goods',['id'=>$goods['id']])}"><img src="{$goods['logo']}" alt="" /></a>  <strong><a href="{:U('Index/goods',['id'=>$goods['id']])}">{$goods['name']}</a></strong></td>
					<td class="col3">￥<span>{$goods.shop_price}</span></td>
					<td class="col4"> 
						<a href="javascript:;" class="reduce_num"></a>
						<input type="text" name="amount" value="{$goods.amount}" class="amount"/>
						<a href="javascript:;" class="add_num"></a>
					</td>
					<td class="col5">￥<span>{$goods.sub_price}</span></td>
					<td class="col6"><a href="{:U('remove',['id'=>$goods['id']])}">删除</a></td>
				</tr>
               </foreach>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">购物金额总计： <strong>￥ <span id="total">{$total_price}</span></strong></td>
				</tr>
			</tfoot>
		</table>
		<div class="cart_btn w990 bc mt10">
			<a href="{:U('Index/index')}" class="continue">继续购物</a>
			<a href="{:U('flow2')}" class="checkout">结 算</a>
		</div>
	</div>
	</block>