<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>ECSHOP 管理中心 - 添加菜单 </title>
        <meta name="robots" content="noindex, nofollow"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="__CSS__/general.css" rel="stylesheet" type="text/css" />
        <link href="__CSS__/main.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" type="text/css"/>
        <style type="text/css">
            ul.ztree{
                margin-top: 10px;
                border: 1px solid #617775;
                background: #f0f6e4;
                width: 220px;
                overflow-y: scroll; 
                overflow-x: auto; 
            }
        </style>
    </head>
    <body>
        <h1>
            <span class="action-span"><a href="{:U('index')}">菜单列表</a></span>
            <span class="action-span1"><a href="#">ECSHOP 管理中心</a></span>
            <span id="search_id" class="action-span1"> - 添加菜单菜单 </span>
        </h1>
        <div style="clear:both"></div>
        <div class="main-div">
            <form method="post" action="{:U()}" enctype="multipart/form-data" >
                <table cellspacing="1" cellpadding="3" width="100%">
                    <tr>
                        <td class="label">菜单名称</td>
                        <td>
                            <input type="text" name="name" maxlength="60" value="{$row.name}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label">菜单地址</td>
                        <td>
                            <input type="text" name="path" maxlength="60" value="{$row.path}" />
                        </td>
                    </tr>
                    <tr>
                        <td class="label">父级菜单</td>
                        <td>
                            <input type="hidden" name="parent_id" id='parent_id'/>
                            <input type='text' disabled='disabled' id='parent_name' style="padding-left:1em;"/>
                            <ul id="parent_menu" class="ztree"></ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">相关权限</td>
                        <td>
                            <div id="permission_ids"></div>
                            <ul id="permissions" class="ztree"></ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">菜单描述</td>
                        <td>
                            <textarea  name="intro" cols="60" rows="4"  >{$row.intro}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">是否显示</td>
                        <td>
                            <input type="radio" name="status" value="1" class="status"/> 是
                            <input type="radio" name="status" value="0" class="status" /> 否
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><br />
                            <input type="hidden" name="id" value="{$row.id}" />
                            <input type="submit" class="button" value=" 确定 " />
                            <input type="reset" class="button" value=" 重置 " />
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div id="footer">
            共执行 1 个查询，用时 0.018952 秒，Gzip 已禁用，内存占用 2.197 MB<br />
            版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。
        </div>
        <js href='__JS__/jquery.min.js'/>
        <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core.js"></script>
        <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.excheck.js"></script>
        <script type='text/javascript'>
            
            ////////////////////////////   父级菜单   ///////////////////////////////////////////
            //1.添加时发送数据
            var menu_setting = {
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: 'parent_id',
                    },
                },
                callback:{
                    onClick:function(event,node,item){
                        //取出点击节点的数据，放到表单节点中
                        $('#parent_id').val(item.id);     //这个是为了传值
                        $('#parent_name').val(item.name); //这个是为了显示
                    },
                },
            };

            var menus = {$menus};
            //回显商品菜单状态
            $('.status').val([{$row.status|default=1}]);
            //初始化ztree插件
            var menu_ztree = $.fn.zTree.init($("#parent_menu"), menu_setting, menus);
            //展开所有的节点
            menu_ztree.expandAll(true);
                
            //2.编辑页面时回显父级菜单
            <present name="row">
                //找到父级菜单getNodeByParam
                  var parent_node=menu_ztree.getNodeByParam('id',{$row.parent_id});
                //选中父级菜单selectnode
                   menu_ztree.selectNode(parent_node);
                //将数据放到控件中val
                $('#parent_id').val(parent_node.id);
                $('#parent_name').val(parent_node.name);
            </present>
            
            ////////////////////////////////    关联权限   /////////////////////////////////
            //1.添加时发送数据
            var permission_setting = {
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: 'parent_id',
                    },
                },
                check:{
                    enable:true,
                    chkboxType: {"Y": "s", "N": "s"},
                },
                callback:{
                    onCheck:function(event,node,item){
                        //1.获取所有的被勾选的节点getCheckedNodes
                        var nodes = permissions_ztree.getCheckedNodes(true);
                        //2.,清空隐藏域,遍历这些节点,添加当前的所有勾选的节点进隐藏域
                        $('#permission_ids').empty();
                        $(nodes).each(function(i,v){
                            var html='<input type="hidden" name="permission_id[]" value="'+v.id+'"/>'
                            $(html).appendTo($('#permission_ids'));
                        })

                    },
                },
            };
            
            //所有的权限
            var permissions = {$permissions};

            //初始化
            var permissions_ztree = $.fn.zTree.init($('#permissions'), permission_setting, permissions);

            //展开所有的节点
            permissions_ztree.expandAll(true);
            
            
            //2.编辑时回显数据
            <present name="row">
                var permission_ids = {$row.permission_ids};
                $(permission_ids).each(function(i,v){
                    //1.找到这个节点
                    var node = permissions_ztree.getNodeByParam('id',v);
                    permissions_ztree.checkNode(node,true);
                    //2.显示当前的所有勾选的节点
                    var html = '<input type="hidden" name="permission_id[]" value="' + v + '"/>';
                    $(html).appendTo($('#permission_ids'));
                });
            </present>
        </script>
    </body>
</html>